@model Capston_Clean_Slate2.Models.Pay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SalaryRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HourlyRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourlyRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursWorked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursWorked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OvertimeRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OvertimeRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialPay)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>