@model IEnumerable<Capston_Clean_Slate2.Models.Pay>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SalaryRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HourlyRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursWorked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OvertimeRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialPay)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SalaryRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HourlyRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursWorked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OvertimeRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialPay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>

@*<th>
    @Html.DisplayNameFor(model => model.FirstName)
</th>
<th>
    @Html.DisplayNameFor(model => model.LastName)
</th>

<th>
    @Html.DisplayNameFor(model => model.IsHourlyEmployee)
</th>
<th>
    @Html.DisplayNameFor(model => model.EmployeeHourlyPayRate)
</th>
<th>
    @Html.DisplayNameFor(model => model.EmployeeSalaryPayRate)
</th>*@