@model Capston_Clean_Slate2.Models.Employee

@{
    ViewBag.Title = "DisplayNetPay";
}

@Html.HiddenFor(model => model.Id)

@*<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card text-white mb-3" style="white-space: nowrap; background-color: rgba(173, 235, 185, .6); height: 100%">
        <div class="card-header navbar navbar-collapse bg-secondary" style="max-height: 4rem !important; width:100%">
            <div class="row" style="white-space: nowrap;">
                <div class="text-white navbar-brand" style=" border-right: solid; border-right-color: whitesmoke; border-right-width: thin; padding-right: 1.5rem; padding-left: 1rem;">
                    My Account
                </div>
                <div class="btn btn-outline-warning" style="margin-left: 1rem; margin-top: 0px !important; margin-bottom: 0px !important; padding-bottom: 0px !important; padding-top: 0px !important;">
                    <a class="nav-link" href="~/Employees/Edit" data-toggle="tooltip" data-delay='{"show":"1500", "hide":"200"}' data-placement="bottom" title="Edit My Profile" data-type="info" style="margin-left: 5px;">
                        <div class="text-white" style="text-align: center;">Edit</div>
                    </a>
                </div>
            </div>
        </div>*@

<div class="col-lg-12 col-md-12 col-sm-12" style="width: 100% !important">
    <div class="card text-white mb-3" style="white-space: nowrap; background-color: rgba(173, 235, 185, .6); height: 100%">
        <div class="card-header navbar navbar-collapse bg-secondary" style="max-height: 4rem !important; width:100%">
            <div class="row" style="white-space: nowrap;">
                <div class="text-white navbar-brand" style=" border-right: solid; border-right-color: whitesmoke; border-right-width: thin; padding-right: 1.5rem; padding-left: 1rem;">
                    Options:
                </div>
                <div class="btn btn-outline-info" style="margin-left: 1rem; margin-top: 0px !important; margin-bottom: 0px !important; padding-bottom: 0px !important; padding-top: 0px !important;">
                    <a class="nav-link" href="~/Employees/SeeCheck/@Model.Id" data-toggle="tooltip" data-delay='{"show":"1500", "hide":"200"}' data-placement="bottom" title="Edit My Profile" data-type="info" style="margin-left: 5px;">
                        <div class="text-white" style="text-align: center;">View Pay Stub</div>
                    </a>
                </div>
                <div class="btn btn-outline-info" style="margin-left: 1rem; margin-top: 0px !important; margin-bottom: 0px !important; padding-bottom: 0px !important; padding-top: 0px !important;">
                    <a class="nav-link" href="~/Employees/BankCheck/@Model.Id" data-toggle="tooltip" data-delay='{"show":"1500", "hide":"200"}' data-placement="bottom" title="Edit My Profile" data-type="info" style="margin-left: 5px;">
                        <div class="text-white" style="text-align: center;">Print Check</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row col-lg-12 text-center" style="margin-top: 2rem; width: 100%">
            <div class="mx-auto text-secondary font-weight-bold" style="width: 450px; float: left; border-right: 1px dashed #294C70; margin-right: 0px !important;">
                <dl class="card-body">

                    <dt class="card-font-bold">
                        @Html.DisplayNameFor(model => model.WeeklyRegularPay)
                    </dt>

                    <dd>
                        $@Html.DisplayFor(model => model.WeeklyRegularPay)
                    </dd>
                    <dt class="card-font-bold">
                        @Html.DisplayNameFor(model => model.EmployeeCommissionBonus)
                    </dt>

                    <dd>
                        $@Html.DisplayFor(model => model.EmployeeCommissionBonus)
                    </dd>
                    <dt class="card-font-bold">
                        Total @Html.DisplayNameFor(model => model.WeeklyBonusPay)
                    </dt>

                    <dd>
                        $@Html.DisplayFor(model => model.WeeklyBonusPay)
                    </dd>
                </dl>
            </div>
            <div class="mx-auto text-secondary font-weight-bold" style="width: 450px; float: right; margin-right: 0px !important; padding-right: 40px !important">
                <dl class="card-body">
                    <dt class="card-font-bold">
                        @Html.DisplayNameFor(model => model.FederalIncomeTax)
                    </dt>

                    <dd>
                        $@Html.DisplayFor(model => model.FederalIncomeTax)
                    </dd>
                    <dt class="card-font-bold">
                        @Html.DisplayNameFor(model => model.StateIncomeTax)
                    </dt>

                    <dd>
                        $@Html.DisplayFor(model => model.StateIncomeTax)
                    </dd>
                    <dt class="card-font-bold">
                        @Html.DisplayNameFor(model => model.CityIncomeTax)
                    </dt>
                    <dd>
                        $@Html.DisplayFor(model => model.CityIncomeTax)
                    </dd>

                    <dt class="card-font-bold">
                        @Html.DisplayNameFor(model => model.SchoolDistrictTax)
                    </dt>
                    <dd>
                        $@Html.DisplayFor(model => model.SchoolDistrictTax)
                    </dd>

                    <dt class="card-font-bold">
                        @Html.DisplayNameFor(model => model.UnemploymentCompensation)
                    </dt>
                    <dd>
                        $@Html.DisplayFor(model => model.UnemploymentCompensation)
                    </dd>

                    <dt class="card-font-bold">
                        @Html.DisplayNameFor(model => model.EmployeePayGarnishments)
                    </dt>
                    <dd>
                        $@Html.DisplayFor(model => model.EmployeePayGarnishments)
                    </dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div style="width:35%"></div>
            <div style="width:30%; height: 10%; background-color: #e9edf0; border:solid; border-color: #1591C2; border-width: thin; border-radius: 8px; margin-bottom:1em;">
                <dl class="card-body text-center text-secondary" style="text-align:center;">
                    <dt style="font-weight: 700; font-size:1.3em; text-decoration: underline overline; margin-top: .5em;">
                        @Html.DisplayNameFor(model => model.WeeklyNetPay)
                    </dt>
                    <dd style="font-size: 1.3em; margin-bottom: -.5em">
                        $@Html.DisplayFor(model => model.WeeklyNetPay)
                    </dd>
                </dl>
            </div>
            <div style="width:35%"></div>
        </div>

    </div>
</div>
    </div>
<br /><br /><br /><br />
