@model IEnumerable<Capston_Clean_Slate2.Models.Employee>

@{
    ViewBag.Title = "ChooseDeductions";
}

<h2>ChooseDeductions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TotalDeductions)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @{ List<SelectListItem> ViewData = new List<SelectListItem>() { ViewData["deductionslist"] }; }
                @Html.ListBoxFor(item.TotalDeductions, new MultiSelectList(, "Deductions", "Deductions")
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>