@model Capston_Clean_Slate2.Models.RetirementAccount

@{
    ViewBag.Title = "CreateRetirementAccount";
}

<h2>CreateRetirementAccount</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>RetirementAccount</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RetirementAccountNumber)

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeContribution, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmployeeContribution, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmployeeContribution, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OwnerContribution, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OwnerContribution, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OwnerContribution, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CatchUpAge, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CatchUpAge)
                    @Html.ValidationMessageFor(model => model.CatchUpAge, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @{ string id = ViewBag.emp; }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" id="@id" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "GetEmployeeInformation")
</div>