@model Capston_Clean_Slate2.Models.Employee

@{
    ViewBag.Title = "View Employee Hours Worked";
}

<h2>View Employee Hours Worked"</h2>

<div>
    <h4>@Model.FirstName @Model.LastName</h4>
    <hr />
    <dl class="col-md-9">
        <dt>
            @Html.DisplayNameFor(model => model.HoursWorked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursWorked)
        </dd>
    </dl>
</div>
<p>
    | @Html.ActionLink("Back to List", "GetEmployeeInformation") |<br />
    | @Html.ActionLink("Edit Employee's Hours", "GetEmployeeWeeklyHours") |
</p>